@import "_reset.scss";

$whitesmoke: #f2f4f2;

h1 {
  margin-bottom: 3em;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.5em;
}

hr {
  width: 15%;
  border: 1px solid black;
}

span {
  font-size: 1.1em;
  letter-spacing: 3px;
}

p {
  font-size: .7em;
}

footer {
  margin-top: 3em;
  height: 10vh;
  background-color: black;
    h1{
      text-align: center;
      padding: 2em;
      color: $whitesmoke;
    }
}

.row1 {
  text-align: center;
  h1 {
    margin-top: 3em;
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.5em;
  }
}

.row2 {
  padding-top: 3em;
  text-align: center;
  background-color: $whitesmoke;
  width: 100%;
  h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.5em;
  }
}

.row2Wrap {
  max-width: 100em;
  margin: 0 25%;
}

.nav {
  li {
    padding: 1% 0;
    font-size: 12px;
  }
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: 0;
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
}

.item {
  width: 100%;
}

.small {
  font-size: 5px;
}

.clearfix {
  &:before,
  &:after {
    clear: both;
    margin-top: 3em;
  }
}

.mini {
  width: 100%;
  filter: grayscale(100%);
}

.newArrivalsText {
  background-color: white;
  max-width: 100%;
}

.newArrivalsTile {
  max-width: 540px;
  margin: auto;
  float: left;
}

.newArrivalsTileRight1 {
  float:left;
  display: block;
  margin: 0 2% 5.7% 0;
}

.navbar-brand {
  margin-bottom: 20px;
}

#beanies {
  display: block;
  margin: 0 auto;
}

#logo {
  width:60%;
}
