@import "_reset.scss";

body {
  // background-color: $pink;
}


#logo {
  width:60%;
  margin: 0 0 20px 0;
}

.nav {
  li {
  padding: 1% 0;
  font-size: 12px;
}
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: 0;
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
}

.item {
  width: 100%;
}

#beanies {
  display: block;
  margin: 0 auto;
}
